<div class="w-full rounded-xl p-4" [ngClass]="color">
  <div class="flex justify-center justify-between items-center border-b-2">
    <h3>{{title}}</h3>
    <button mat-button *ngIf="!noRefresh" (click)="refreshWidget()">Refresh</button>
  </div>

  <div class="w-100 h-48 flex flex-col justify-center items-center">
    <ng-content></ng-content>
  </div>
</div>