<div *ngIf="user.first_name" class="w-full bg-gray-100 rounded-xl p-4">
  <h3>Details</h3>

  <div class="bg-white relative shadow-xl w-full py-2 mx-auto">
    <div class="flex justify-center">
      <img src="{{user.avatar}}" alt="avatar"
        class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-2xl border-4 border-white">
    </div>

    <div class="mt-16">
      <h1 class="font-bold text-center text-3xl text-gray-900">{{user.first_name}} {{user.last_name}}</h1>
      <p class="text-center text-sm text-gray-400 font-medium">{{user.employment.title}}</p>
      <p>
        <span>

        </span>
      </p>
      <div class="my-5">
        <a href="#" class="text-indigo-200 block text-center font-medium leading-6 px-6 py-3 bg-indigo-600">Connect with
          <span class="font-bold">@{{user.username}}</span></a>
      </div>

      <div class="w-full">
        <h3 class="font-bold text-gray-600 text-left px-4">Personal information</h3>
        <div class="mt-5 w-full">
          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            Date of birth
            <span class="text-gray-400 text-sm">{{user.date_of_birth}}</span>
          </a>

          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            Gender
            <span class="text-gray-400 text-sm">{{user.gender}}</span>
          </a>

          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            City
            <span class="text-gray-400 text-sm">{{user.address.city}}</span>
          </a>

          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            Social insurance number
            <span class="text-gray-400 text-sm">{{user.social_insurance_number}}</span>
          </a>

          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            Subscription plan
            <span class="text-gray-400 text-sm">{{user.subscription.plan}}</span>
          </a>

          <a href="#"
            class="w-full border-t-2 border-gray-100 font-medium text-gray-600 py-4 px-4 w-full block hover:bg-gray-100 transition duration-150">
            <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt=""
              class="rounded-full h-6 shadow-md inline-block mr-2">
            Subscription status
            <span class="text-gray-400 text-sm">{{user.subscription.status}}</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>