<div class="w-full rounded-xl p-4 overflow-y-auto">
  <h2>Dashboard</h2>
  <div class="grid grid-cols-3 gap-4">
    <app-dashboard-widget [title]="'Weather'" [color]="'bg-yellow-200'">
      <app-weather-widget>
      </app-weather-widget>
    </app-dashboard-widget>
    <app-dashboard-widget [title]="'Wind'" [color]="'bg-indigo-200'">
      <app-wind-widget>
      </app-wind-widget>
    </app-dashboard-widget>
    <app-dashboard-widget [title]="'Sprint'" [noRefresh]="true" [color]="'bg-pink-200'">
      <app-sprint-widget>
      </app-sprint-widget>
    </app-dashboard-widget>
  </div>
</div>
