<footer class="bg-indigo-600 mt-auto fixed bottom-0 w-full">
  <div class="px-4 py-3 text-white mx-auto">
    <h1 class="text-2xl hidden sm:block mb-2">Footer</h1>
    <div class="text-right text-xs py-2">
      <a href="">&copy;2021 Javi</a>
    </div>
  </div>
</footer>