<div class="bg-white6 w-full flex items-center p-2 rounded-xl shadow border">
  <div class="flex items-center space-x-4">
    <img src="{{user.avatar}}"
      alt="avatar" class="w-16 h-16 rounded-full">
  </div>
  <div class="flex-grow p-3">
    <div class="font-semibold text-gray-700">
      {{user.first_name}} {{user.last_name}}
    </div>
    <div class="text-sm text-gray-500">
      {{user.email}}
    </div>
  </div>
</div>