<img [matMenuTriggerFor]="menu" src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/lightning-bolt.svg" class="w-7 sm:mx-2 mx-4 inline" />
<mat-menu #menu="matMenu">
  <div class="flex flex-col md:flex-row gap-6 md:gap-8" *ngFor="let product of products" mat-menu-item>
    <span>{{product.title}}</span>
  </div>
</mat-menu>