<div class="w-full bg-gray-100 rounded-xl p-4 overflow-y-auto">
  <div class="flex">
    <h3 class="flex-grow">Items list</h3>
  </div>
  <app-items-card *ngFor="let item of items" [item]="item" (click)="selectItem.emit(item)"></app-items-card>
</div>
