<h2>Users</h2>

<div class="w-full h-full grid grid-cols-2 gap-3">
  <app-users-list [users]="users" (selectUser)="setSelectedUser($event)" (refreshList)="refreshList()"></app-users-list>
  <app-users-details [user]="selectedUser"></app-users-details>
</div>
