<div class="bg-indigo-600 mt-auto w-100">
  <div class="px-4 py-3 text-white mx-auto flex justify-center justify-between items-center">
    <h2 class="text-white">Header</h2>
    <app-product-basket></app-product-basket>
  </div>
</div>