<div class="bg-white6 w-full flex items-center p-2 rounded-xl shadow border">
  <div class="flex items-center space-x-4">
    <img src="{{item.image}}" alt="product-image" class="w-16 h-16 rounded-full">
  </div>
  <div class="flex-grow p-3">
    <div class="font-semibold text-gray-700">
      <h4>{{item.title}}</h4>
    </div>
    <div class="flex items-center h-8 space-x-2">
      <div class="text-sm text-gray-500">
        Rate: {{item.rating?.rate}}
      </div>
      <div class="font-bold text-gray-500">
        {{item.price}} $
      </div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
        Buy
      </button>
    </div>
  </div>
</div>