<div class="w-60 flex-shrink flex-grow-0 px-4">
  <div class="sticky top-0 p-4 bg-gray-100 rounded-xl w-full">
    <ul class="flex sm:flex-col overflow-hidden content-center justify-between">
      <a class="truncate" routerLink="/">
        <li class="py-2 hover:bg-indigo-300 rounded">
          <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/home.svg" class="w-7 sm:mx-2 mx-4 inline" />
          <span class="hidden sm:inline">Home</span>
        </li>
      </a>
      <a class="truncate" routerLink="/marketplace">
        <li class="py-2 hover:bg-indigo-300 rounded">
          <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/collection.svg" class="w-7 sm:mx-2 mx-4 inline" />
          <span class="hidden sm:inline">Marketplace</span>
        </li>
      </a>
      <a class="truncate" routerLink="/users">
        <li class="py-2 hover:bg-indigo-300 rounded">
          <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/users.svg" class="w-7 sm:mx-2 mx-4 inline" />
          <span class="hidden sm:inline">Users</span>
        </li>
      </a>
    </ul>
  </div>
</div>