<div class="relative">
  <app-header></app-header>
  <div class="w-full py-20 px-40 overflow-auto absolute top-20">
    <div class="w-full flex flex-col sm:flex-row flex-grow">
      <app-sidenav></app-sidenav>
      <main role="main" class="w-full">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
<app-footer></app-footer>