<img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/calendar.svg" class="w-24 sm:mx-2 mx-4 mb-4" />
<div class="flex flex-col justify-center items-center">
  <p>Planned: 25</p>
  <p>Completed: 20</p>
</div>