<div class="w-full bg-gray-100 rounded-xl p-4 overflow-y-auto">
  <div class="flex">
    <h3 class="flex-grow">List</h3>
    <button mat-button class="flex-none" (click)="refreshList.emit()">Refresh</button>
  </div>
  <app-users-card *ngFor="let user of users" [user]="user" (click)="selectUser.emit(user)"></app-users-card>
</div>